body{
	background-color: #1E0111;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 5em
}

span{
	color: #0cc3aa
}

h2{
	color: #ff401f
}

div{
	float: left;
}

p{
	font-family: Georgia
}

.main{
	width: 60%;
	max-width: 50em;
	min-width: 15em;
}

#sidebar{
	position:fixed;
	left: 60%;
	top: 20px
}

#velma{
	background-image: url("img/velma.jpg");
  	background-repeat: repeat;
  	height: 100%;
  	width: 100%;
}

#links{
	font-family: Arial;
	background-color: #7c76bc;
	color: #4c0503;
}

#announcements{
	
	padding: 10px;
	width: 30%;
	min-width: 10em;
	font-size: 0.5em;
	/*float: right;*/
	background-color: #e780fc;
	color: #4e015e;
	border-style: double;
}