body{
	background-color: #FF0FEB;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 5em
}

span{
	color: #0cc3aa
}

h2{
	color: #ff401f
}

div{
	float: left;
}

p{
	font-family: Georgia
}

#main{
	width: 60%;
	max-width: 50em;
}

#sidebar{
	position:fixed;
	left: 60%;
	top: 20px
}

#links{
	font-family: Arial;
	background-color: #7c76bc;
	color: #4c0503;
}